@model InventoryApp.Models.Artikl

@{
    ViewData["Title"] = "Details";
}

<h1>Artikli</h1>

<div>
    <h4>Pregled</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ident)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ident)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PocetnoStanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PocetnoStanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AktualnoStanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AktualnoStanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZavrsnoStanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZavrsnoStanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrChanged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrChanged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Izvedba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Izvedba.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategorija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategorija.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tip.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrsta.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
