@model IEnumerable<InventoryApp.Models.Artikl>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>

            <th colspan="5" style="text-align:center; background-color:darkgray">
                STANJE Artikala (KOM)
            </th>
            <th colspan="2">

            </th>

        </tr>

        <tr>
            <th>
                @Html.DisplayName("Artikl")
            </th>

            <th>
                @Html.DisplayName("Početno")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulaz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izlaz)
            </th>
            <th>
                @Html.DisplayName("Aktualno")
            </th>
            <th>
                @Html.DisplayName("Završno")
            </th>
            <th>
                @Html.DisplayName("Korisnik")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var AktualnoStanje = item.PocetnoStanje + (item.Ulaz - item.Izlaz);
            //var ZavrsnoStanje = 0;
            
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Ident)-
                    @Html.DisplayFor(modelItem => item.Kategorija.Naziv)
                    @Html.DisplayFor(modelItem => item.Vrsta.Naziv)
                    @Html.DisplayFor(modelItem => item.Tip.Naziv)
                    @Html.DisplayFor(modelItem => item.Izvedba.Naziv)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PocetnoStanje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ulaz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Izlaz)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.AktualnoStanje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZavrsnoStanje)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsrChanged)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Napomena)
                    </td>*@

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
